{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Thank You!
{% endblock %}

{% block styles %}

{% endblock %} 

{% block content %}
<p>
You have completed the whole game. Please check your final payoffs below.
</p>
<p>
   The randomly picked round is {{random_picked_round}}. The true theta of that round is {{true_theta_random_picked_round}}, the true variance of that round is {{true_variance_random_picked_round}}. Your Payoff of this randomly picked round is {{payoff}}.
</p>
{% endblock %}