{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Task 3. Instructions
{% endblock %}

{% block styles %}
<style>
    .distribution_viz {
      position: relative;
      overflow: auto;
      height: 510px;
      width: 1000px;
      border: 3px solid #666;
    }
    .information {
      position: relative;
      overflow: auto;
      height: 480px;
      width: 1000px;
      border: 3px solid #666;
    }
  </style>
{% endblock %} 

{% block content %}
<head>
    <script type="text/javascript" async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <!-- <link rel="stylesheet" href="https://latex.now.sh/style.css"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Normal Distribution with Slider (Chart.js)</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <center>
    <font size="5"> 
      <header> <b> Part 1: Main Task of the Game: Guess the true value of the asset </b></header>
    </font> 
</center>
<p> 
    -- In this experiment, your main task is to predict the realized value of this hypothetical asset, denoted as \(\theta\). <br>
    -- The mean of \(\theta\) is 0 and the variance is 1, same as shown in Figure 1. <br>
    -- The realization of the true value is drawn at the beginning of each round, but you do not see the realized value immediately. Instead, you predict the value of \(\theta\) in each round based on two types of information (explained in Part 2) that help you guess the true value. <br>
    -- Please click Next to proceed to Part 2.
</p>
<p>
    <center>
    <figure>
        <img src="{{std_normal_distribution}}" style="width:900px;height:440px;"/>
        <center><figcaption><b>Figure 1</b></figcaption></center>
    </figure>
    </center>
</p>
</body>
{{ next_button }}
{% endblock %}