{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Task 3. Instructions
{% endblock %}

{% block styles %}

{% endblock %} 

{% block content %}
<center>
    <font size="5"> 
      <header> <b> Part 3: Survey Pages For Payment </b></header>
    </font> 
</center>
<p>
    In each round, you need to answer two questions multiple times. The more accurate your answers, the more extra payment you will receive. The number of times you need to answer the survey questions depends on the number of private signal s_{t} you receive in round t. You will play 18 - 24 rounds in today’s session. We randomly pick half of the rounds to send you one private signal, s_{t}; and in the other half rounds, you will receive two private signals, which are independent from each other. Please note that once the range of the private signal is determined for a round, the private signal s_{t} is determined by the same range, regardless of whether you receive one or two signals.<br>
    The questions are as follows.<br>
    <b>Question 1: Please make a guess of the true value of the asset in this round.</b> Please enter a number that reflects your belief; if you think that, given the current information, the true value of Ө is 65, then type 65 into the answer box.<br>
    <b>Question 2: Please make a guess of the range that was picked for your private signal in this round.</b> Given the current information, you need to guess the accuracy (a value between 0.25 and 4) of your private signal, s, in this round.<br>
</p>
<p>
    The first survey comes right after the computer shows you your color, red or green. You need to answer question 1 after receiving your color. 
</p>
<figure>
    <img src="{{survey1_img}}" style="width:900px;height:1000px;"/>
    <center><figcaption><b>Figure 2</b></figcaption></center>
</figure>
<p>
    Then, click the “Next” button to go to the second survey, and then the computer shows you your private signal S_{t}. Using both private signals to update your beliefs, you need to answer question 1 and question 2 according to your updated beliefs. Half of the rounds display “Survey Page 1” and “Survey Page 2”.
</p>
{{ next_button }}
{% endblock %}