{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Task 2 Instructions
{% endblock %}

{% block styles %}

{% endblock %} 

{% block content %}
<p>
    In this task, you need to make a choice between two boxes, either Box K or Box U, to win money. You need to make this choice multiple times and each choice is displayed in each row. Each of the two boxes contains 100 balls. The color of the balls is either black or white. Your payoff depends on your choice of the box. You will receive 3 USD if a black ball is drawn from the box you chose.
</p>
<p>
    The number (and hence the fraction) of black balls and white balls is known in Box K. The numbers of black balls and white balls (and hence the fraction of black and white balls) are going to be shown on the computer screen. Thus, the probability for a black ball to be drawn, namely, for you to win the payment of 3 USD is known for Box K if you choose Box K. If you choose Box K, please click "Box K".
</p>
<p>
    The number (and hence the fraction) of black balls and white balls is unknown in Box U. Thus, the probability for you to win the payment of 3 USD is unknown if you choose Box U: it can be any probability between 0% and 100%. If you choose Box U, please click "Box U".  
</p>
<p>
    See Figure 1 as an example. When you choose between "Box K" and "Box U" in row 1, you know that "Box K" contains 100 black balls and 0 white balls. When you choose between "Box K" and "Box U" in row 2, you know that "Box K" contains 90 black balls and 10 white balls. Regardless of making your choice in row 1 or row 2, the fraction of back and whilte balls in "Box U" is always unknown. Once you decided which box to choose in each row, please make your choice on the right side by clicking the box you want to choose.
</p>
<p>
    <figure>
        <img src="{{img_url1}}" style="width:900px;height:250px;"/>
        <center><figcaption><b>Figure 1</b></figcaption></center>
    </figure>
</p>
<p>
    When making your choices, <b>you may only switch once between the two boxes</b>, i.e., from Box K to Box U or from Box U to Box K. You cannot switch back and forth. See Figure 2 for example, if you choose Box K in Rows 1-3, and Box U in row 4, you will not be allowed to choose Box K again in the remaining Rows 5 and below. <b>(This example is for illustration purposes only, and is not a suggestion for what you should do in the experiment)</b>.
</p>
<p>
    <center>
    <figure>
        <img src="{{img_url2}}" style="width:920px;height:320px;"/>
        <figcaption><b>Figure 2</b></figcaption>
    </figure>
   </center> 
</p>
<p>
    The above example only shows you two rows, but you will make more than two choices when you start this task. After you have made all choices, your payoff for this Task will be determined as follows. First, we will randomly choose one Row (choice) from all choices that you made. Then, one ball will be drawn randomly from the box K or U that you chose for that Row (choice). If a black ball is drawn, you receive 3 USD; if a white ball is drawn, you receive 0 USD.
</p>
<p>
    Once you are ready to start this task, please click "Next" below.
</p>
{{ next_button }}
{% endblock %}
