{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Task 3. 今天的主要任务。
{% endblock %}

{% block styles %}
<style>
    .distribution_viz {
      position: relative;
      overflow: auto;
      height: 510px;
      width: 1000px;
      border: 3px solid #666;
    }
    .information {
      position: relative;
      overflow: auto;
      height: 480px;
      width: 1000px;
      border: 3px solid #666;
    }
  </style>
{% endblock %} 

{% block content %}
<p>
  感谢您对Task 2问题的作答！
  </p>
  <p>
  <b>请不要关掉这个页面.</b>
  </p>
  <p>
  实验员将为您仔细讲解Task 3（今天的主要任务）的游戏规则。
  </p>
{% endblock %}