{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Task 3. Instructions
{% endblock %}

{% block styles %}

{% endblock %} 

{% block content %}
<center>
    <font size="5"> 
      <header> <b> Part 4: Your Payment and Session Timeline </b></header>
    </font> 
</center>
<p>
    <b>Your Payment</b>
</p>
<p>
    <b>Session Timeline</b><br>
    You will play 18 - 24 rounds in today’s session, where half of the rounds contain survey pages 1 and 2 and the other half of rounds contain survey pages 1, 2, and 3. 
</p>
{{ next_button }}
{% endblock %}